<a href="https://colab.research.google.com/github/CameronRabsatt/DataMining-Project/blob/main/Copy_of_final_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining Final Project

This notebook follows the CRISP-DM process. Cameron Rabsatt 2025

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

## Step 1: Business and Data Understanding

In [6]:
#Load your dataset
df = pd.read_csv('https://raw.githubusercontent.com/CameronRabsatt/DataMining-Project/refs/heads/main/data/NBA_GAMES_1950_2022_.csv')
df.head()

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,SEASON_ID,TEAM_NAME,TEAM_ABBREVIATION
0,1610612737,28000934,1981-03-29,ATL vs. MIL,L,NaN,NaN,NaN,265,41.0,...,0,NaN,NaN,NaN,NaN,35.0,128,NaN,Atlanta Hawks,ATL
1,1610612737,28000921,1981-03-27,ATL @ CHI,L,NaN,NaN,NaN,240,40.0,...,0,NaN,NaN,NaN,NaN,24.0,83,NaN,Atlanta Hawks,ATL
2,1610612737,28000919,1981-03-26,ATL vs. IND,L,NaN,NaN,NaN,240,43.0,...,0,NaN,NaN,NaN,NaN,26.0,107,NaN,Atlanta Hawks,ATL
3,1610612737,28000908,1981-03-24,ATL vs. DET,W,NaN,NaN,NaN,240,41.0,...,0,NaN,NaN,NaN,NaN,23.0,96,NaN,Atlanta Hawks,ATL
4,1610612737,28000895,1981-03-22,ATL @ WAS,L,NaN,NaN,NaN,240,40.0,...,0,NaN,NaN,NaN,NaN,27.0,101,NaN,Atlanta Hawks,ATL

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121397 entries, 0 to 121396
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Team_ID            121397 non-null  int64
 1   Game_ID            121397 non-null  int64
 2   GAME_DATE          121397 non-null  object
 3   MATCHUP            121397 non-null  object
 4   WL                 121395 non-null  object
 5   W                  46868 non-null   float64
 6   L                  46868 non-null   float64
 7   W_PCT              46868 non-null   float64
 8   MIN                121397 non-null  int64
 9   FGM                121383 non-null  float64
 10  FGA                90774 non-null   float64
 11  FG_PCT             90755 non-null   float64
 12  FG3M               93490 non-null   float64
 13  FG3A               84766 non-null   float64
 14  FG3_PCT            81140 non-null   float64
 15  FTM                121381 non-null  float64
 16  FTA                116414 non-null  float64
 17  FT_PCT             116371 non-null  float64
 18  OREB               84194 non-null   float64
 19  DREB               84057 non-null   float64
 20  REB                121397 non-null  int64
 21  AST                90110 non-null   float64
 22  STL                84360 non-null   float64
 23  BLK                84779 non-null   float64
 24  TOV                84719 non-null   float64
 25  PF                 117963 non-null  float64
 26  PTS                121397 non-null  int64
 27  SEASON_ID          0 non-null       float64
 28  TEAM_NAME          121397 non-null  object
 29  TEAM_ABBREVIATION  121397 non-null  object
dtypes: float64(20), int64(5), object(5)
memory usage: 27.8+ MB

Continue with your steps here...